header nav {
  background-image: url(../img/cool-background1.png);
}
header nav div {
  display: flex;
  justify-content: center;
}
header nav div div a img {
  height: 100px;
}
header nav div .boton_nav {
  background-color: white;
  color: wheat;
}
header nav div div {
  display: flex;
  justify-content: center;
}
header nav div div ul li a {
  color: white;
  margin: 30px;
}

.enlace:hover {
  color: wheat;
}

.flex_index {
  padding-bottom: 100px;
  background-image: url(../img/fondogym1.png);
  padding-top: 30px;
  display: flex;
  flex-direction: row;
}
.flex_index .opciones {
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex_index .opciones h1 {
  color: aliceblue;
  border-bottom: 3px solid blanchedalmond;
}
.flex_index .opciones .talles {
  color: white;
  text-align: center;
  border: 3px solid black;
}
.flex_index .opciones a {
  color: wheat;
  text-decoration: none;
}
.flex_index article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flex_index article div {
  border: 5px solid #5a5a5a;
  margin-top: 30px;
}
.flex_index article div img {
  width: 200px;
  margin-bottom: 20px;
}
.flex_index article div div {
  background-color: #5a5a5a;
  margin: 0;
}
.flex_index article div div h2 {
  color: aliceblue;
  text-align: center;
}
.flex_index article div div a {
  color: white;
}

.card {
  border: 5px solid #5a5a5a;
  margin-top: 30px;
}
.card .card-img-top {
  width: 200px;
  margin-bottom: 20px;
}
.card .card-img-top:hover {
  transform: scale(1.15);
}

.mainfondo {
  background-image: url(../img/fondogym1.png);
}
.mainfondo h1 {
  border-bottom: 3px solid white;
  color: white;
  font-family: "Smokum", cursive;
  padding-top: 30px;
  text-align: center;
}
.mainfondo div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.mainfondo div div {
  max-width: 650px;
}
.mainfondo div div div {
  flex-wrap: wrap;
}
.mainfondo div div div div img {
  margin: 0px;
}
.mainfondo div div div div div {
  background-color: #5a5a5a;
}
.mainfondo div div div div div h5 {
  color: aliceblue;
  text-align: center;
}

.fondo_sucursales {
  background-image: url(../img/fondogym1.png);
}
.fondo_sucursales div h1 {
  padding-top: 30px;
  text-align: center;
  color: white;
  font-family: "Bebas Neue", cursive;
  border-bottom: 3px solid white;
}
.fondo_sucursales .main_sucursales {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 100px;
}
.fondo_sucursales .main_sucursales div img {
  overflow-x: auto;
  width: 100%;
  height: 300px;
  margin: 0;
}
.fondo_sucursales .main_sucursales div div {
  background-color: #5a5a5a;
}

.containerB {
  background-image: url(../img/fondogym1.png);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 250px;
  padding-top: 40px;
}
.containerB .title_contacto {
  color: white;
  border-bottom: 3px solid white;
}
.containerB div .horarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid white;
  background-color: black;
  margin-top: 100px;
}
.containerB div .horarios h3 {
  width: 200px;
  color: white;
}
.containerB div .horarios p {
  width: 200px;
  color: white;
}
.containerB .mapa {
  border: 3px solid white;
  margin-top: 100px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerB .mapa h2 {
  color: white;
}
.containerB .mapa iframe {
  width: 80%;
  height: 500px;
  margin: 50px;
  padding-bottom: 30px;
}

.containerb1 {
  background-image: url(../img/fondogym1.png);
  padding-bottom: 30px;
  flex-wrap: wrap;
}
.containerb1 div h1 {
  color: white;
  border-bottom: 3px solid black;
}
.containerb1 .inf {
  color: white;
  background-color: black;
  border: 3px solid black;
}
.containerb1 .imgcbum {
  display: flex;
  justify-content: center;
  align-content: center;
}
.containerb1 .imgcbum img {
  width: 400px;
  height: 250px;
}

footer {
  border: 3px solid white;
  background-image: url(../img/cool-background1.png);
}
footer div {
  color: wheat;
  border-bottom: 3px solid white;
  text-align: center;
}
footer div {
  display: flex;
  justify-content: space-around;
}
footer div a img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
}

* {
  margin: 0;
  padding: 0;
}

.descripcion_sucursales {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.descripcion_sucursales div a img {
  border: 5px solid white;
  width: 300px;
}
.descripcion_sucursales .contenedor {
  border: 5px solid white;
  background-color: #5a5a5a;
}
.descripcion_sucursales .contenedor h3 {
  border-bottom: 2px solid wheat;
  color: white;
  text-align: center;
}
.descripcion_sucursales .contenedor p {
  text-align: center;
  width: 350px;
  color: white;
}
.descripcion_sucursales .contenedor h4 {
  text-align: center;
  width: 350px;
  color: white;
}

.btn {
  color: white;
  background-color: black;
  border: 1px solid black;
}
.btn:hover {
  border: 1px solid black;
  background-color: wheat;
  color: #5a5a5a;
}

/*# sourceMappingURL=styles.css.map */
