.mainfondo{
    background-image: url(../img/fondogym1.png);
    h1{
        border-bottom: 3px solid white;
        color: white;
        font-family: 'Smokum', cursive;
        padding-top: 30px;
        text-align: center;
    }
    div{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        div{
            max-width: 650px;
            div{
                flex-wrap: wrap;
                div{
                    img{
                        margin: 0px;
                    }
                }
                div{
                    div{
                        background-color: #5a5a5a;
                        h5{
                            color: aliceblue;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
