.containerb1{
    background-image: url(../img/fondogym1.png);
    padding-bottom: 30px;
    flex-wrap: wrap;
    div{
        h1{
            color: white;
            border-bottom: 3px solid black;
        }
    }
    .inf{
        color: white;
        background-color: black;
        border: 3px solid black;
    }
    .imgcbum{
        display: flex;
        justify-content: center;
        align-content: center;
        img{
            width: 400px;
            height: 250px;
        }
    }
}