.fondo_sucursales{
    background-image: url(../img/fondogym1.png);
    div{
        h1{
            padding-top: 30px;
            text-align: center;
            color: white;
            font-family: 'Bebas Neue', cursive;
            border-bottom:3px solid white ;
        }
    }
    .main_sucursales{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 100px;
        padding-bottom: 100px;
        div{
            img{
                overflow-x: auto;
                width: 100%;
                height: 300px;
                margin: 0;
            }
            div{
                background-color: #5a5a5a;
            }
        }
    }
}